.box-main {
  border: 1px solid #262529;
  margin: 0 400px;
  border-radius: 16px;
  padding: 40px 100px;

  .group-one {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
